<b>💪 Привет, {{user_name}}!</b>

Рад видеть тебя здесь! 🏋️‍♂️
Этот бот станет твоим надежным помощником на пути к силе, выносливости и здоровью. 🌟

Каждая тренировка — это шаг к твоей лучшей версии. 🏃‍♂️🔥
Помни: регулярность важнее силы, а настойчивость творит чудеса! 💯

Давай начнем этот путь вместе и сделаем каждую тренировку осознанной и результативной! 💥
